<%- include("header") %>

<h1>Profile</h1>

<div>
    <p><%= user.name %></p>
    <p><%= user.namename %></p>
    <p><%= user.email %></p>
    <p><%= user.phone %></p>
    <p><%= user.address %></p>
</div>

<br><a href="/">Back to account Summary</a>

<%- include ("footer") %>